<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Management Application</title>
    <link rel="stylesheet" href="./taskmanager.css">
</head>
<body>
    <div class="container">
        <h1>Task Management</h1>
        <form id="taskForm">
            <input type="text" id="taskTitle" placeholder="Task Title" required>
            <textarea id="taskDescription" placeholder="Task Description"></textarea>
            <input type="date" id="taskDeadline" required>
            <select id="taskPriority" required>
                <option value="" disabled selected>Priority Level</option>
                <option value="High">High</option>
                <option value="Medium">Medium</option>
                <option value="Low">Low</option>
            </select>
            <select id="taskCategory" required>
                <option value="" disabled selected>Category</option>
                <option value="Personal">Personal</option>
                <option value="Work">Work</option>
                <option value="School">School</option>
            </select>
            <button type="submit">Add Task</button>
        </form>

        <div id="taskList"></div>
    </div>
    <script src="taskmanager.js"></script>


    <!-- ads here start -->
<div class="ads-banner">
     <script type="text/javascript">
	    atOptions = {
		    'key' : '472536ab70fd3646dd07639732d8f61e',
		    'format' : 'iframe',
		    'height' : 90,
		    'width' : 1024,
		    'params' : {}
	        };
    </script>
    <script type="text/javascript" src="//www.highperformanceformat.com/472536ab70fd3646dd07639732d8f61e/invoke.js"></script>
    <!-- ads here end -->
</div>

    <footer style="margin-top: 20px; text-align: center;">
        <hr>
        <p>&copy; 2024 Avishek Neupane. All rights reserved.<br>See ya till next time.</p>
    </footer>
</body>
</html>
